$mainBackgroundColor: #201f2e;
$footerBackgroundColor: #0e0d13;
$mainTextColor: #fff;
$secondaryTextColor: #c9cfc1;
$mainButtonColor: #44414e;
$mainButtonTextColor: #c4c1cf;
$pressedButtonColor: #353240;
$pressedButtonColor: #e9e6f2;
